<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bof_group_28">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bof_group_28">
        <activity
            android:name=".activities.EditProfilePictureActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/Theme.Bof_group_28.NoActionBar" />

        <service
            android:name=".utility.services.NearbyStudentsService"
            android:enabled="true"
            android:exported="true" /> <!-- TODO: Replace hard-coded API Key with .gitIgnore and env file -->
        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="AIzaSyC8BpGrCBo52SNG4SkmrlSqztpNHBt7cyI" />

        <activity
            android:name=".activities.AddClassActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ManageClassesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.GoogleSignInActivity"
            android:exported="false" />
        <activity
            android:name=".activities.BirdsOfAFeatherActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Bof_group_28.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.StudentSelectedActivity" />
    </application>

    <meta-data
        android:name="com.google.android.nearby.messages.API_KEY"
        android:value="AIzaSyA-C-uMnxzzuRop1-wM90w0crUlArnMUqQ">
    </meta-data>

</manifest>